---
const navigationItems = [
  {
    name: "Inicio",
    href: "/",
  },
  {
    name: "Acerca de",
    href: "/about/",
  },
  {
    name: "Blog",
    href: "/blog/",
  },
  {
    name: "Etiquetas",
    href: "/tags/",
  },
];
---

<div id="main-menu" class="hidden lg:flex lg:items-center lg:space-x-8">
  {
    navigationItems.map((item: any) => (
      <a
        href={item.href}
        class="text-3xl lg:text-sm text-center px-8 py-6 lg:px-3 lg:py-2 font-medium text-slate-700 dark:text-slate-300 hover:text-slate-900 dark:hover:text-slate-100"
      >
        {item.name}
      </a>
    ))
  }
</div>

